* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #00636b, #00737c, #00848e, #0095a0, #00a7b3); }

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer; }

.header {
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__title {
    font-family: "Permanent Marker", cursive;
    color: white; }
  .header .menu__login {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #00ad07;
    background-color: white;
    border-radius: 5px;
    padding: 2px; }
