$quotes: "Merienda One", cursive;
$title: "Permanent Marker", cursive;
$default-font-family: "Comfortaa", cursive;
$gray: #727272;
$red: #bb0000;
$green: #00ad07;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.App {
  font-family: $default-font-family;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to right bottom,
    #00636b,
    #00737c,
    #00848e,
    #0095a0,
    #00a7b3
  );
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    background: url(../pictures/background.jpg) no-repeat center / cover;
  }
}

.wrapper {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  background-color: #ebebeb;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.main-input {
  outline: none;
  background-color: black;
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  padding: 3px 0 3px 5px;
  font-size: 15px;
  font-family: $default-font-family;
}

//used in Player and Table components
.header-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  margin-bottom: 20px;

  &__title {
    font-size: 24px;
    background-color: white;
    text-align: center;
    width: 160px;
    padding: 8px;
    border-radius: 5px;
  }

  &__subtitle {
    font-size: 12px;
    width: 70px;
    background-color: #383838;
    color: white;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
  }

  @media (min-width: 768px) {
    height: 100px;
    margin-bottom: 40px;

    &__title {
      font-size: 34px;
      width: 200px;
    }

    &__subtitle {
      font-size: 18px;
      width: 90px;
    }
  }

  @media (min-width: 1440px) {
    height: 120px;

    &__title {
      font-size: 38px;
      width: 220px;
    }

    &__subtitle {
      font-size: 22px;
      width: 110px;
    }
  }
}
