$table-shape: 6vw 40vw 20vw 20vw;
$table-shape2: 8vw 30vw 10vw 15vw;
$table-shape3: 115px 432px 144px 216px;

.players {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .header-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    margin-bottom: 20px;

    &__title {
      font-size: 24px;
      background-color: white;
      text-align: center;
      width: 160px;
      padding: 8px;
      border-radius: 5px;
    }

    &__subtitle {
      font-size: 12px;
      width: 70px;
      background-color: #383838;
      color: white;
      padding: 3px;
      border-radius: 5px;
      text-align: center;
    }
  }

  .table {
    display: grid;
    grid-template-columns: $table-shape;
    grid-template-rows: 30px auto 1fr;
    align-content: center;
    column-gap: 10px;
    row-gap: 15px;
    font-size: 14px;

    &__find-player {
      @extend .main-input;
      text-align: center;
      font-size: 14px;
      grid-column: 2 / 3;
    }

    &__find-position {
      @extend .table__find-player;
      grid-column: 3 / 4;
    }

    &__id {
      grid-column: 1 / 2;
    }

    &__id,
    &__palyer-nick,
    &__position,
    &__status {
      text-align: center;
      background-color: white;
      padding: 5px 0;
      border-radius: 5px;
    }

    .data {
      grid-column: 1 / -1;
      background-color: white;
      font-size: 16px;
      border-radius: 5px;
      overflow: auto;
      max-height: 50vh;

      &__player {
        display: grid;
        grid-template-columns: $table-shape;
        align-content: center;
        column-gap: 10px;
        row-gap: 20px;
        margin: 30px 0;
        color: black;
        padding: 10px 0;
        transition: background-color 0.2s ease-in;

        &:hover {
          background-color: #e2e2e2;
        }

        * {
          text-align: center;
          margin: auto;
        }
      }

      &__status-taken {
        color: $red;
      }

      &__status-free {
        color: $green;
      }
    }
  }

  @media (min-width: 768px) {
    .header-table {
      height: 100px;
      margin-bottom: 40px;

      &__title {
        font-size: 34px;
        width: 200px;
      }

      &__subtitle {
        font-size: 18px;
        width: 90px;
      }
    }

    .table {
      grid-template-columns: $table-shape2;
      font-size: 18px;

      &__find-player {
        font-size: 18px;
      }

      .data {
        background-color: rgba($color: white, $alpha: 0.95);
        &__player {
          grid-template-columns: $table-shape2;
          font-size: 20px;
        }
      }
    }
  }

  @media (min-width: 1440px) {
    .header-table {
      height: 110px;

      &__title {
        font-size: 38px;
        width: 220px;
      }

      &__subtitle {
        font-size: 22px;
        width: 110px;
      }
    }

    .table {
      grid-template-columns: $table-shape3;
      font-size: 20px;

      &__find-player {
        font-size: 20px;
      }

      .data {
        &__player {
          grid-template-columns: $table-shape3;
          font-size: 22px;
        }
      }
    }
  }
}
