.info--red {
  position: absolute;
  padding: 10px 25px;
  background-color: $red;
  right: 0;
  bottom: 0;
  color: white;
  border-radius: 5px 0 0 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;

  span {
    margin: 10px 0;
  }
}

.info--green {
  @extend .info--red;
  background-color: $green;
}
