.header {
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-family: $title;
    color: white;
  }

  .menu {
    display: flex;
    align-items: space-between;

    &__login {
      display: flex;
      align-items: center;
      font-size: 35px;
      color: $green;
      background-color: white;
      border-radius: 5px;
      padding: 5px;
    }

    &__user {
      @extend .menu__login;
      color: black;
      font-size: 30px;
      margin-right: 20px;
    }

    &__username {
      font-size: 18px;
      padding: 0 5px;
    }

    &__logout {
      @extend .menu__login;
      color: $red;
    }
  }
}

@media (min-width: 768px) {
  .header {
    width: 100vw;
    padding: 30px 50px 0;

    &__title {
      font-family: $title;
      color: white;
    }

    .menu {
      &__login {
        font-size: 45px;
      }

      &__user {
        font-size: 40px;
      }
    }
  }
}
