.register {
  @extend .login;
  height: 550px;
  position: relative;

  &__header {
    @extend .login__header;
  }

  &__form {
    @extend .login__form;
  }

  &__inputs-wrapper {
    height: 350px;
    width: 100%;
    overflow: auto;
  }

  .inputs-position {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    height: auto;

    .register__input {
      width: 40%;
    }
  }

  &__inputs {
    @extend .login__inputs;
  }

  &__input {
    @extend .login__input;
    font-size: 16px;
  }

  &__submit {
    @extend .login__submit;
    width: 140px;
  }

  &__redirect {
    @extend .login__redirect;
    width: 100px;
  }

  @media (min-width: 768px) {
    height: 550px;

    .inputs-position {
      .register__input {
        width: 30%;
      }
    }

    &__input {
      font-size: 20px;
    }
  }
}
